.contactList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
}

.contactList li button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}